version: 2.1
jobs:
  build:  
    docker:
      - image: circleci/android:api-29
    steps:
      - run:
          command: |
            git clone https://github.com/kmou424/ClashKForAndroid.git clashk  --recursive
            cd clashk
            sudo apt-get update && sudo apt-get install golang
            sdkmanager --install "ndk;21.0.6113669"
            ls /opt/android/sdk/
            ./gradlew androidDependencies
            ./gradlew assembleDebug

workflows:
  build-project: 
    jobs:
      - build