version: 2.1
jobs:
  build:  
    docker:
      - image: circleci/android:api-29
    steps:
      - run:
          command: |
            NDKVER=21.0.6113669
            git clone https://github.com/kmou424/ClashKForAndroid.git clashk  --recursive
            cd clashk
            source gen_key.sh
            sudo apt-get update && sudo apt-get install golang
            sdkmanager --install "ndk;$NDKVER"
            ./gradlew androidDependencies
            ./gradlew assembleDebug

workflows:
  build-project: 
    jobs:
      - build